.hero {
  height: 100vh;
  background: url("hero.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background: rgba(0,0,0,0.65);
  padding: 60px;
  border-radius: 15px;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  color: #00c2ff;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 30px;
  background: #00c2ff;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
}

